{{ define "main"}}

    <p>{{.Title}}</p>

    {{ if .Content }} 
    <div class="list-description">
        {{ .Content }}
    </div>
    {{ end }}

    <main id="postsList" class="flex-column-center">
        {{ range .Pages.ByParam "order" }}
            <p>
                {{.Params.order}} {{.Params.content}}
            </p>
        {{ end }}
    </main>

    {{/*  query params to change or highlight what verses show.  */}}
    {{/*  Also each verse should have an ID for quick sharability nav  */}}
{{ end }}