{{ define "main"}}
    <main id="postContent">
        <article>
            <h1>{{ .Title }}</h1>
            
            <section>
                {{ .Content }}
            </section>

            {{ if .WordCount }}
                <p class="small-text">Word Count: {{ .WordCount }}</p>
            {{ end }}

            {{ $pages := where site.RegularPages "Section" .Section }}
            {{ with $pages.ByTitle.Next . }}
                <a title="Next page in {{ .Section }}" href="{{ .Permalink }}">Next</a>
            {{ end }}

            {{ with $pages.ByTitle.Prev . }}
                <a title="Previous page in {{ .Section }}" href="{{ .Permalink }}">Previous</a>
            {{ end }}
        </article>
    </main>
{{ end }}